*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  font: 1em/1.5 "Catamaran", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #000;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

body {
  background-color: #000;
  width: 100%;
  min-height: 100%;
  margin: 0;
  position: relative; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
details,
menu {
  display: block; }

figure {
  margin: 1em 40px; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

h1 {
  font-size: 3rem;
  margin: 0.67em 0; }

h2 {
  font-size: 2.5rem; }

h3,
.h-h3 {
  font-size: 2rem; }

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif; }

.h-h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem; }
  .h-h4:before, .h-h4:after {
    content: "\2014\2014";
    color: #a6357f;
    letter-spacing: -3px;
    letter-spacing: -.3rem;
    padding: 0 .8rem 0 .4rem; }

.h-section {
  text-align: center;
  text-transform: uppercase; }

.h-section-optional {
  text-transform: uppercase;
  border-bottom: 3px solid #000;
  margin-right: 500px; }

.h-page {
  color: inherit;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  margin-top: 20rem;
  margin-bottom: 0; }

.h3-page {
  color: inherit;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  margin: 0;
  font: "Raleway", sans-serif;
  font-weight: 400; }

.h-bar:before {
  content: '';
  display: block;
  width: 3rem;
  height: .75rem; }

.h-bar--red:before {
  background: #f05e74; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

q {
  font-style: italic; }

p {
  font-size: 1rem; }

li {
  font-size: 1rem;
  font: "Catamaran", sans-serif; }

a {
  background-color: transparent;
  color: #000;
  font-weight: 700;
  -webkit-text-decoration-skip: objects;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-decoration: none; }

a:active,
a:hover {
  outline-width: 0; }

a:hover,
a:focus {
  border: 0;
  text-decoration: none; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

#toTop {
  position: fixed;
  bottom: 5px;
  right: 5px;
  cursor: pointer; }

.main-menu {
  float: right;
  padding-top: 0.5rem; }

.main-menu__action {
  border-bottom: 0;
  display: block;
  padding: 4px 16px;
  text-decoration: none; }

.main-menu__item {
  display: inline;
  float: left; }

.main-menu__action:hover {
  color: #e5a923; }

.main-menu__items {
  font-family: "Raleway", sans-serif;
  list-style: none;
  text-transform: uppercase; }

.main-laCasa__list {
  float: left; }

.main-laCasa__listUl {
  list-style: none; }

.main-laCasa__images {
  border: 3px solid black;
  padding: 0.5rem;
  margin-right: 13px; }

.main-laCasa_colores {
  background-color: #e5a923;
  border: 3px solid #e5a923; }

.main-laCasa__slides {
  position: relative;
  right: 80px;
  border-style: solid;
  border-width: 4px;
  float: right; }

.main-laCasa__btns {
  float: right;
  position: relative;
  left: 13px;
  top: 157px; }

.main-laCasa__btn {
  background: #fff;
  cursor: pointer;
  outline: none; }

.btn_rigth {
  left: 505px; }

#btnleft, #btnright {
  background-color: #fff;
  font-size: 44px;
  font-family: Times New Roman;
  padding: 8px 16px 8px 16px;
  margin: 0; }

.main-laCasa__btn {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1.5rem;
  padding: 1.5rem;
  box-shadow: inset 0 0 0 3px #000;
  color: #000;
  font-size: inherit;
  font-weight: 700;
  position: relative; }
  .main-laCasa__btn::before, .main-laCasa__btn::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; }

.draw {
  transition: color 0.25s; }
  .draw::before, .draw::after {
    border: 3px solid transparent;
    width: 0;
    height: 0; }
  .draw::before {
    top: 0;
    left: 0; }
  .draw::after {
    bottom: 0;
    right: 0; }
  .draw:hover {
    color: #e5a923; }
  .draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%; }
  .draw:hover::before {
    border-top-color: #e5a923;
    border-right-color: #e5a923;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s; }
  .draw:hover::after {
    border-bottom-color: #e5a923;
    border-left-color: #e5a923;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s; }

.main-eventos__all {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main-eventos__images {
  width: 50%; }

.main-eventos__left {
  float: right;
  position: relative;
  left: 9px;
  bottom: 408px; }

.main-eventos__right {
  right: 10px; }

figure {
  transition: all 200ms;
  display: inline-block;
  margin: 10px;
  background: #000;
  width: 50%;
  height: 380px;
  overflow: hidden;
  position: relative;
  border: 2px solid black; }
  figure:hover {
    border-width: 2px; }
    figure:hover .main-eventos__title {
      transform: translate(0, 100px); }
    figure:hover img {
      transform: scale(1.5); }
    figure:hover .main-eventos__description {
      opacity: 1;
      transform: translateY(-60px); }
  figure .main-eventos__title {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: "Catamaran", sans-serif;
    font-weight: 700;
    font-size: 25px;
    transition: all 400ms;
    background: rgba(0, 0, 0, 0.8); }
  figure .main-eventos__img {
    width: 100%;
    position: absolute;
    transition: all 500ms; }

.main-eventos__description {
  width: 80%;
  opacity: 0;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 20px;
  background: rgba(229, 169, 35, 0.6);
  transition: all 300ms;
  text-align: center;
  padding: 36px; }

#toTop {
  border: 2px solid #a2a5a5;
  cursor: pointer;
  text-decoration: none;
  color: #a2a5a5;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 59px;
  font-size: 44px;
  font-family: Times New Roman;
  bottom: 30px;
  right: 30px; }

#toTop:hover {
  color: #e5a923;
  border: 2px solid #e5a923; }

.clear {
  clear: both;
  float: none;
  width: 100%; }

.group.positionGaleria {
  position: relative;
  top: 65px; }

.container .gallery a img {
  float: left;
  width: 20%;
  height: auto;
  border: 2px solid #fff;
  -webkit-transition: -webkit-transform .15s ease;
  -moz-transition: -moz-transform .15s ease;
  -o-transition: -o-transform .15s ease;
  -ms-transition: -ms-transform .15s ease;
  transition: transform .15s ease;
  position: relative; }

.container .gallery a:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 5; }

.container .gallery a.big img {
  width: 40%; }

.align-center {
  text-align: center; }

.ubicacion__map {
  width: 80%;
  margin: 0 auto; }

.team {
  position: relative;
  left: 130px; }

.snip {
  font-family: "Raleway", sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  max-height: 220px;
  width: 100%;
  color: #000000;
  text-align: right;
  font-size: 16px;
  background-color: #000000; }

.snip * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }

.snip img {
  max-width: 100%;
  backface-visibility: hidden; }

.snip figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  padding: 30px 0 30px 10px;
  background-color: #e5a923;
  width: 40%;
  -webkit-transform: translateX(150%);
  transform: translateX(150%); }

.snip figcaption:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 100%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 120px 0;
  border-color: transparent #e5a923 transparent transparent; }

.snip:after {
  position: absolute;
  bottom: 50%;
  right: 40%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 0 120px;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }

.snip h3,
.snip p {
  line-height: 1.5em;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  margin: 0; }

.snip h3 {
  margin: 0 0 5px;
  line-height: 1.1em;
  font-weight: 900;
  font-size: 1.4em;
  opacity: 0.75; }

.snip p {
  font-size: 0.8em; }

.snip i {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 30px;
  font-size: 44px;
  color: #e5a923;
  opacity: 0; }

.snip a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; }

.snip:hover img,
.snip.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5; }

.snip:hover:after,
.snip.hover:after,
.snip:hover figcaption,
.snip.hover figcaption,
.snip:hover i,
.snip.hover i {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1; }

.clearFix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.whycoco-section {
  width: 90%;
  margin: 0 auto;
  text-align: center; }

.whycoco-section_fact {
  margin: 1.5rem;
  padding: 1rem;
  display: inline-block;
  border: 3px solid #000;
  background-color: #f7f7f7; }
  .whycoco-section_fact img {
    margin-top: 3rem; }
  .whycoco-section_fact p {
    text-align: left;
    margin-left: 1.5rem; }

.whycoco-section_fact--hover {
  color: #fff; }
  .whycoco-section_fact--hover h3 {
    color: #fff; }

.comunity {
  background-image: url(../img/comunity.jpg); }

.eco {
  background-image: url(../img/eco.jpg); }

.oneforone {
  background-image: url(../img/oneforone.jpg); }

.flip-container {
  perspective: 1000px;
  display: inline-block; }

.flip-container:hover .flipper {
  transform: rotateY(180deg); }

.flip-container, .front, .back {
  width: 320px;
  height: 480px; }

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative; }

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.front {
  transform: rotateY(0deg); }

.back {
  transform: rotateY(180deg); }

.newsletter {
  width: 100%;
  border: 3px solid black;
  background-image: url(../img/news.jpg);
  text-align: center;
  margin-bottom: 200px; }
  .newsletter h2 {
    color: white;
    border: none;
    margin: 0; }

form {
  margin: 50px; }

input {
  width: 300px;
  height: 50px;
  border: 3px solid black;
  margin-top: 10px; }

input::placeholder {
  font-size: 18px;
  font-family: "Catamaran", sans-serif;
  text-align: center; }

label {
  color: #fff;
  font-size: 20px; }

.testimonio {
  float: left;
  display: inline-block;
  padding: 1.5rem;
  vertical-align: top;
  border: .0625rem solid #E2EBF1;
  min-height: 290px;
  background: #fff;
  width: 50%; }
  .testimonio blockquote {
    margin: 1.5rem; }

.testimonio:hover {
  background-color: #f2f3f4; }

.quote {
  display: block;
  margin: 0 auto;
  text-align: center; }

.testimonio__avatar {
  max-width: 90px;
  padding: 10px; }

.testimonio__description {
  font-size: 1.125rem;
  font-style: italic; }

.testimonio__cite {
  font-weight: bold;
  margin-bottom: 0; }

.testimonio__person {
  text-align: center; }

.menu {
  margin: 0;
  padding: 0; }

.btn {
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: 1.5rem 3rem; }

.btn--secundary {
  background-color: #a5a5a5; }
  .btn--secundary:hover {
    background-color: #d0cece; }

.btn--small {
  padding: .6rem; }

.btn--invert {
  background-color: #fff;
  border: 3px solid #fff;
  color: #a5a5a5; }
  .btn--invert:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #fff;
    color: #fff; }

.site-header {
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 3;
  position: fixed;
  width: 100%; }

.site-nav {
  padding: .25em 1rem;
  height: 60px;
  background-color: #fff;
  border-bottom: 3px solid #000; }

.l-content {
  margin: 0 auto;
  width: 65%; }

.l-group:before, .l-group:after {
  content: " ";
  display: table; }
.l-group:after, .l-group:after {
  clear: both; }

.group {
  margin: 0 auto;
  max-width: 1200px; }
  .group:before, .group:after {
    content: " ";
    display: table; }
  .group:after, .group:after {
    clear: both; }

.bg-hero {
  background-image: url("../img/hero-home.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: transparent;
  color: #fff;
  height: 40rem;
  overflow: hidden;
  position: relative;
  z-index: 2; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-size: cover; }
  .bg-video:after {
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .bg-video video {
    height: auto;
    width: 100%; }

.section-wrap {
  padding: 6rem 3rem; }

.section-wrap--intro {
  position: relative;
  z-index: 2; }

.section-intro {
  margin-bottom: 3rem;
  text-align: center; }

.section-wrap--tight {
  padding-bottom: 3rem;
  padding-top: 3rem; }

.wrapper {
  background-color: #fff; }

.site-footer {
  background-color: #000;
  color: #fff;
  display: flex;
  width: 100%; }
  .site-footer:before, .site-footer:after {
    content: " ";
    display: table; }
  .site-footer:after, .site-footer:after {
    clear: both; }
  .site-footer i {
    margin: 0 1.5rem 0 1.5rem;
    font-size: 30px; }
  .site-footer li {
    list-style: none; }
  .site-footer a {
    color: #fff; }
  .site-footer a:hover {
    color: #e5a923; }

.contact-footer {
  padding: 1.5rem; }

.footer__section {
  padding: 1.5rem;
  width: 50%;
  margin: 0; }

.footer__social-media {
  text-align: right; }
  .footer__social-media ul {
    padding: 3rem 1.5rem 0 0; }
  .footer__social-media li {
    display: inline; }
  .footer__social-media i {
    margin: 0.5rem; }

/*# sourceMappingURL=style.css.map */
