@import "partials/variables";
@import "partials/mixins";
@import "partials/elements/base";
@import "partials/elements/headings";
@import "partials/elements/type";
@import "partials/elements/lists";
@import "partials/elements/links";
@import "partials/elements/images";
@import "partials/modules/main-menu";
@import "partials/modules/main-laCasa";
@import "partials/modules/main-eventos";
@import "partials/modules/ubicacion";
@import "partials/modules/whycoco";
@import "partials/patterns/menus";
@import "partials/patterns/buttons";
@import "partials/layout/header";
@import "partials/layout/page";
@import "partials/layout/footer";
