// Normalize
// ==========================================================================
// Correct the font size and margin on `h1` elements within `section` and
// `article` contexts in Chrome, Firefox, and Safari.
h1 {
  font-size: 3rem;
  margin: 0.67em 0;
}

h2 {
  font-size: 2.5rem;
}

h3,
.h-h3 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: $font-family-contrast;
}

.h-h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;

  &:before,
  &:after {
    content: "\2014\2014";
    color: rgb(166, 53, 127);
    letter-spacing: -3px;
    letter-spacing: -.3rem;
    padding: 0 .8rem 0 .4rem;
  }
}
.position {
    position: relative;
    left: 292px;
}
.h-section {
  text-align: center;
  text-transform: uppercase;
}
.h-section-optional {
  text-transform: uppercase;
  border-bottom: 3px solid #000;
  margin-right: 500px;
}
.h-page {
    color: inherit;
    //text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, .25);
    text-transform: uppercase;
    //margin-top: 20rem;
    margin-bottom: 0;
}
.h3-page {
  color: inherit;
  text-shadow: 0 0 2px rgba(0, 0, 0, .25);
  margin: 0;
  font: $font-family-contrast;
  font-weight: $font-family-contrast-light-weight;
}

// Borde sobre titulos
.h-bar:before {
  content: '';
  display: block;
  width: 3rem;
  height: .75rem;
}

.h-bar--red:before {
    background: rgb(240, 94, 116);
}
