$font-family-base: 'Catamaran', sans-serif;
$font-family-contrast: 'Raleway', sans-serif;

$font-family-base-normal-weight: 300;
$font-family-base-bold-weight: 700;
$font-family-contrast-light-weight: 400;

$acent-color: #e5a923;

// Inside components
$space-base: 1.5rem;
$space-small: 1.5rem;
$space-medium: 3rem;
$space-large: 6rem;
$space-x-large: 7.5rem;

// Between components

$space-out-small: 1.5rem;
$space-out-medium: 3rem;
$space-out-large: 4.5rem;
