.main-laCasa__list {
      float: left;
}
.main-laCasa__listUl {
  list-style: none;
}
.main-laCasa__images {
    border: 3px solid black;
    padding: $space-out-tiny;
    margin-right: 13px;
}
.main-laCasa__images:hover {
	background-color: $acent-color;
	border: 3px solid $acent-color;
}
.main-laCasa__slides {
    position: relative;
    right: 80px;
    border-style: solid;
    border-width: 4px;
    float: right;

}
.main-laCasa__btns{
    float: right;
    position: relative;
    left: 13px;
    top: 157px;

}
.main-laCasa__btn {
	background: #fff;
	cursor: pointer;
	outline: none
}
.btn_rigth {
	left:  505px;
}
#btnleft, #btnright {
	background-color: #fff;
      font-size: 44px;
      font-family: Times New Roman;
      padding: 8px 16px 8px 16px;
      margin: 0;
}
// Basic styles
.main-laCasa__btn{
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: $space-base;
  padding: $space-out-small ;

  // Using inset box-shadow instead of border for sizing simplicity
  box-shadow: inset 0 0 0 3px #000;
  color: #000;
  font-size: inherit;
  font-weight: 700;

  // Required, since we're setting absolute on pseudo-elements
  position: relative;


  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.draw {
    transition: color 0.25s;

  &::before,
  &::after {
    // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
    border: 3px solid transparent;
    width: 0;
    height: 0;
  }

  // This covers the top & right borders (expands right, then down)
  &::before {
    top: 0;
    left: 0;
  }

  // And this the bottom & left borders (expands left, then up)
  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover {
    color:$acent-color;
  }

  // Hover styles
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color:$acent-color; // Make borders visible
    border-right-color: $acent-color;
    transition:
      width 0.25s ease-out, // Width expands first
      height 0.25s ease-out 0.25s; // And then height
  }

  &:hover::after {
    border-bottom-color: $acent-color; // Make borders visible
    border-left-color: $acent-color;
    transition:
      border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
      width 0.25s ease-out 0.5s, // And then exanding width
      height 0.25s ease-out 0.75s; // And finally height
  }
}
