.main-eventos__all {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.main-eventos__images {
  width: 50%;
}
.main-eventos__left {
    float: right;
    position: relative;
    left: 9px;
    bottom: 408px;
}
.main-eventos__right {
  right: 10px;
}
figure{
  transition: all 200ms;
  display: inline-block;
  margin: 10px;
  background:#000;
  width:50%;
  height:380px ;
  overflow: hidden;
  position: relative;
  border:6px solid rgb(0, 0, 0);

  &:hover{
    border-width:9px;
    .main-eventos__title{
     transform:translate(0,100px)
    }
    img{
      transform: scale(1.5)
    }
   .main-eventos__description{
    opacity:1;
     transform:translateY(-60px);
  }

  }

  & .main-eventos__title{
    position: absolute;
    bottom:0px;
    padding:10px;
    width:100%;
    text-align:center;
    color: #fff;
    font-family: $font-family-base;
    font-weight: $font-family-base-bold-weight;
    font-size: 25px;
    transition: all 400ms;
    background:rgba(0, 0, 0, 0.8);


  }
  & .main-eventos__img{
    width:100%;
    position: absolute;
    transition: all 500ms;

  }

  }
.main-eventos__description{
  width:80%;
  opacity:0;
  height: 100px ;
  position: absolute;
  top:50%;
  left:10%;
  font-size:20px;
  background: rgba(229,169,35,0.6);
  transition: all 300ms;
  text-align:center;
  padding: 36px;

}
#toTop {
    border: 2px solid #000;
    cursor:pointer;
    text-decoration: none;
    color: #000;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 59px;
    font-size: 44px;
    font-family: Times New Roman;
    bottom: 30px;
    right: 30px;
}
#toTop:hover {
	color: $acent-color;
	border: 2px solid $acent-color;
}
